# Pandas
- Analyze 2D or multi dimensional data
- Table like data
- Internally they use numpy

In [ ]:
%pip install pandas

## Creating data

- dictionaries
- import csv files

final data will be a dataframe(table)

In [2]:
import pandas as pd

In [3]:
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
data

{'Name': ['John', 'Anna', 'Peter', 'Linda'],
 'Age': [28, 34, 29, 32],
 'City': ['New York', 'Paris', 'Berlin', 'London']}

In [4]:
df = pd.DataFrame(data)
df

    Name  Age      City
0   John   28  New York
1   Anna   34     Paris
2  Peter   29    Berlin
3  Linda   32    London